
RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^qo\-box\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.qo\-box\.com$
RewriteRule ^/?$ "https\:\/\/qo\-box\.com\/" [R=301,L]

